<div class="global-container">
    <svg style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <defs>
            <symbol id="icon-small-search" viewBox="0 0 1024 1024">
                <title>search</title>
                <path class="path1" d="M848.471 928l-263.059-263.059c-48.941 36.706-110.118 55.059-177.412 55.059-171.294 0-312-140.706-312-312s140.706-312 312-312c171.294 0 312 140.706 312 312 0 67.294-24.471 128.471-55.059 177.412l263.059 263.059-79.529 79.529zM189.623 408.078c0 121.364 97.091 218.455 218.455 218.455s218.455-97.091 218.455-218.455c0-121.364-103.159-218.455-218.455-218.455-121.364 0-218.455 97.091-218.455 218.455z"></path>
            </symbol>
        </defs>
    </svg>
    <div class="global-search">
        <div class="top-banner">
            <span class="top-banner-title">development</span>
        </div>
        <div class="global-search__header" id="searchHeader">
            <div class="header-wrapper">
                <div class="header-right-tool">
                    <div class="btn-menu-header">
                        <md-menu ng-if="vm.auth.isAuthenticated()">
                            <md-button class="md-fab md-mini" ng-click="openMenu($mdMenu, $event)">
                                <i class="fa fa-bars">
                                </i>
                            </md-button>
                            <md-menu-content width="4">
                                <md-menu-item>
                                    <md-button ng-click="goto('savedsearches')">
                                        Saved Searches
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-click="goto('savedresults')">
                                        Saved Results
                                    </md-button>
                                </md-menu-item>
                                <md-menu-divider></md-menu-divider>
                                <md-menu-item>
                                    <md-button ng-click="profile()">
                                        <i class="fa fa-user"></i>
                                        Profile
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-click="logout()">
                                        <i class="fa fa-sign-out"></i>
                                        Log Out
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                        <md-menu ng-if="!vm.auth.isAuthenticated()">
                            <md-button class="md-fab md-mini" ng-click="openMenu($mdMenu, $event)">
                                <i class="material-icons">
                                    perm_identity
                                </i>
                            </md-button>
                            <md-menu-content width="4">
                                <md-menu-item>
                                    <md-button ng-click="vm.auth.login()">
                                        <i class="material-icons" style="top: 8px; position: relative;">
                                            perm_identity
                                        </i> Sign In 
                                    </md-button>
                                </md-menu-item>
                                
                            </md-menu-content>
                        </md-menu>
                    </div>
                    <div class="auth" ng-init="onInit()">
                        <md-button ng-if="!vm.auth.isAuthenticated()" class="login-button" ng-click="vm.auth.login()">
                            Sign In <i class="material-icons">
                                    perm_identity
                                </i>
                        </md-button>
                        <md-menu ng-if="vm.auth.isAuthenticated()" class="profile-menu">
                                
                            <md-button ng-click="openMenu($mdMenu, $event)">
                                {{nickname}} <i class="material-icons">
                                    perm_identity
                                </i>
                            </md-button>
                            
                            <md-menu-content width="4">
                                <md-menu-item>
                                    <md-button ng-click="profile()">
                                        <i class="fa fa-user"></i>
                                        Profile
                                    </md-button>
                                </md-menu-item>
                                <md-menu-divider></md-menu-divider>
                                <md-menu-item>
                                    <md-button ng-click="logout()">
                                        <i class="fa fa-sign-out"></i>
                                        Log Out
                                    </md-button>
                                </md-menu-item>
                                
                            </md-menu-content>
                        </md-menu>
                    </div>
                </div>
                <div class="logo-wrapper">
                    <div class="logo">
                        <img src="assets/images/logo.svg" alt="logo svg">
                    </div>
                </div>
                <div class="global_search__form-wrapper">
                    <form id="search-form" class="global-search__form">
                        
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Search</label>
                            <input ng-model="query" ng-change="handleChangeQuery()">
                            
                        </md-input-container>
                        <svg class="icon">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-small-search"></use>
                        </svg>
                        <md-nav-bar
                            class="global-navbar"
                            md-no-ink-bar="disableInkBar"
                            md-selected-nav-item="currentNavItem"
                            nav-bar-aria-label="navigation links">
                            <md-nav-item md-nav-click="goto('web')" name="web">
                                Web
                            </md-nav-item>
                            <md-nav-item md-nav-click="goto('images')" name="images">
                                Images
                            </md-nav-item>
                            <div class="saved navbar-spacer" ng-if="isLogged">|</div>
                            <md-nav-item class="saved" md-nav-click="goto('savedsearches')" name="savedsearches" ng-if="isLogged">
                                Saved Searches
                            </md-nav-item>
                            <md-nav-item class="saved" md-nav-click="goto('savedresults')" name="savedresults" ng-if="isLogged">
                                Saved Results
                            </md-nav-item>
                        </md-nav-bar>
                    </form>
                    
                </div>
                
            </div>
        </div>
        <div class="search-ui-container" ng-if="!isMySavedSearches">
            <i class="s-sidebar__trigger material-icons md-48">
                filter_list
            </i>
            <div class="facets">
                <div class="facet-container" ng-if="isNotEmptyRecords">
                    <div class="facet-header">
                        <span>Categories</span>
                    </div>
                    <div class="facet-option selected" data-facet-value="all" ng-click="handleClickFacet($event, '_all')">
                        <span class="facet-label">All</span>
                        <span class="facet-count"></span>
                    </div>
                    <div ng-repeat="category in categories">
                        <div class="facet-option" ng-click="handleClickFacet($event, category.key)">
                            <span class="facet-label">{{category.key}}</span>
                            <span class="facet-count">{{category.doc_count}}</span>
                        </div>
                    </div>
                </div>
                <div class="facet-container" ng-if="isNotEmptyRecords">
                    <div class="facet-header">
                        <span>Multi Select Categories</span>
                    </div>
                    <div ng-repeat="category in categories">
                            
                        <div class="facet-option">
                            <md-checkbox md-no-ink aria-label="Checkbox No Ink" class="blue" 
                                ng-model="multiFacetsData[category.key]" ng-change="handleClickMultiFacet($event)">
                                <span class="facet-label">{{category.key}}</span>
                                
                            </md-checkbox>
                            <span class="facet-count">{{category.doc_count}}</span>
                        </div>
                    </div>
                </div>
            </div>
                            
            <div class="results-container">
                <div>
                    <div ng-if="isNotEmptyRecords" class="search-summary">
                        <div class="search-summary-label" ng-if="isMySaves">
                            Saved results <strong ng-bind="page_row_count_summary"></strong> of <strong ng-bind="total"></strong>
                        </div>
                        <div class="search-summary-label" ng-if="!isMySaves">
                            Showing results <strong ng-bind="page_row_count_summary"></strong> of <strong ng-bind="total"></strong> for <em ng-bind="query"></em>
                        </div>
                        <span class="saved_searches" ng-if="isLogged && !isMySaves">
                            <i class="material-icons" ng-click="onSaveSearches($event)" ng-if="!isSavedSearches">
                                save_alt
                            </i>
                            <span ng-if="isSavedSearches">
                                <i class="material-icons">
                                    check
                                </i> <span style="position: relative; top: -8px;">saved</span>
                            </span>
                        </span>
                        <div class="filter-label-container" ng-if="!isMultiFacetSelect">
                            <span class="filter-label" ng-if="isFacetFilter"><span><strong>Category:</strong> {{selectedFacetValue}}</span></span>
                        </div>
                        <div class="filter-label-container" ng-if="isMultiFacetSelect">
                            <span ng-repeat="(facetValue, facetFlag) in multiFacetsData" ng-if="facetFlag" class="filter-label"><span><strong>Category:</strong> {{facetValue}}</span></span>
                        </div>
                        <div style="clear:both;"></div>
                    </div>
                    <!--
                        Google Layout Start
                    -->
                    <!-- <ul style="padding-left: 0">
                        <li ng-repeat="record in hits" class="result" style="padding: 1rem; position: relative; list-style-type: none;">
                            <div class="result-title">
                                {{record._source.title}}
                            </div>
                            <div class="result-description" style="border-left: 1px solid #DAE2EB; padding-left: 8px; height: 40px">
                                <p ng-bind-html="record._source.text | trustAsHtml"></p>
                            </div>
                            <div class="save-button-container" ng-click="removeResult(record)" ng-if="isLogged && isMySaves" style="bottom: 10px !important;">
                                <i class="save-button fa fa-trash"></i>
                            </div>
                            <div class="save-button-container" ng-click="saveResult(record)" ng-if="isLogged && !isMySaves" style="bottom: 10px !important;">
                                <span class="save-button" ng-if="!record.isSaved">+</span>
                                <i class="save-button fa fa-check" ng-if="record.isSaved"></i>
                            </div>
                        </li>
                    </ul> -->
                    
                    <!-- Google Layout End -->



                    <!--
                        Card Layout Start
                    -->
                    <md-grid-list layout-fill flex
                        md-cols="1"
                        md-cols-xs="1"
                        md-cols-gt-xs="1"
                        md-cols-sm="2"
                        md-cols-gt-sm="2"
                        md-cols-gt-md="3"
                        md-row-height-xs="4:5"
                        md-row-height-gt-xs="4:5"
                        md-row-height-sm="4:5"
                        md-row-height-gt-sm="4:5"
                        md-row-height-md="400px"
                        md-row-height-gt-md="400px"
                        md-gutter="12px" md-gutter-gt-sm="8px">
                        <md-grid-tile ng-repeat="record in hits">
                            <md-card class="result">
                                <img ng-src="assets/images/back.jpg" class="md-card-image" alt="Washed Out">
                                <md-card-title class="result-title">
                                    <md-card-title-text>
                                        <span>{{record._source.title}}</span>
                                    </md-card-title-text>
                                </md-card-title>
                                <md-card-content class="result-description" style="height: 80px">
                                    <p ng-bind-html="record._source.text | trustAsHtml"></p>
                                </md-card-content>
                                <div class="save-button-container" ng-click="removeResult(record)" ng-if="isLogged && isMySaves">
                                    <i class="save-button fa fa-trash"></i>
                                </div>
                                <div class="save-button-container" ng-click="saveResult(record)" ng-if="isLogged && !isMySaves">
                                    <span class="save-button" ng-if="!record.isSaved">+</span>
                                    <i class="save-button fa fa-check" ng-if="record.isSaved"></i>
                                </div>
                            </md-card>
                        </md-grid-tile>
                    </md-grid-list>
                    <!-- Card Layout End-->

                </div>
                <div ng-if="isNotEmptyRecords" class="pagination" style="display: block;">
                    <span class="previous_page" ng-class="{disabled: isInvalidPrevPage}" ng-click="prevPage()">Previous</span>
                    <span class="next_page" ng-class="{disabled: isInvalidNextPage}" ng-click="nextPage()">Next</span>
                </div>
            </div>
            
        </div>


        <div class="search-ui-container" ng-if="isMySavedSearches">
            
            <div class="results-container">
                <div ng-if="isNotEmptyRecords_savedsearches" class="search-summary">
                    <div class="search-summary-label">
                        Saved searches <strong ng-bind="page_row_count_summary_savedsearches"></strong> of <strong ng-bind="total_savedsearches"></strong>
                    </div>
                </div>
                <ul style="padding-left: 0">
                    <li ng-repeat="record in hits_savedsearches" class="result" style="padding: 1rem; position: relative; list-style-type: none;">
                        <div class="result-title">
                            {{record._source.query}}
                        </div>
                        <div class="result-description pt-1 h-inherit" style="border-left: 1px solid #DAE2EB; padding-left: 8px; height: 40px">
                            <div class="filter-label-container">
                                <span ng-repeat="category in record._source.categories" class="filter-label"><span><strong>Category:</strong> {{category}}</span></span>
                            </div>
                        </div>
                        
                        <div class="save-button-container" ng-click="viewSearches(record)" ng-if="isLogged" style="bottom: 10px !important;right: 50px;">
                                <i class="save-button material-icons">visibility</i>
                            </div>
                        <div class="save-button-container" ng-click="removeSearches(record)" ng-if="isLogged" style="bottom: 10px !important;">
                            <i class="save-button fa fa-trash"></i>
                        </div>                        
                        
                    </li>
                </ul>
                <div ng-if="isNotEmptyRecords_savedsearches" class="pagination" style="display: block;">
                    <span class="previous_page" ng-class="{disabled: isInvalidPrevPage_savedsearches}" ng-click="prevPageSavedsearches()">Previous</span>
                    <span class="next_page" ng-class="{disabled: isInvalidNextPage_savedsearches}" ng-click="nextPageSavedsearches()">Next</span>
                </div>
            </div>
            
        </div>


    </div>
</div>

