.top-banner {
    width: 100%;
    height: 30px;
    text-align: center;
    color: white;
    background-color: green;
    opacity: 0.5;
}
.top-banner .top-banner-title {
    position: relative;
    top: 7px;
}
.global-search {
    display: block;
    /* position:fixed; */
    top:.25rem;
    left:.25rem;
    width:calc(100vw - .5rem);
    z-index:2000;
    background:#F9FAFB;
    height:calc(100vh - .5rem);
    overflow:hidden;
    box-shadow:0 4px 30px rgba(0,0,0,0.25)
}
@media (min-width: 768px){
    .global-search{
        top:0;
        left:0;
        width:100vw;
        height:100vh;
        border-radius:0;
        box-shadow:0 0 0
    }
}

.global-search__header{
    background:#fff;
    box-shadow:0 5px 50px rgba(0,0,0,0.025)
}



.global-search__header .header-wrapper {
    max-width:1300px;
    margin-left:auto;
    margin-right:auto;
    display: flex;
    height:120px;
    position:relative
}
@media (min-width: 768px){
    .global-search__header .header-wrapper{
        height:120px;
        padding: 0 3rem;
    }
}

.logo {
    width: 60px;
    height: 100%;
    margin-left: 20px;
}

.logo img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

@media (min-width: 768px){
    .logo {
        margin-left: 20px;
    }
}

.auth {
    position: absolute;
    right: 20px;
    width: 100px;
    height: 100%;
}

.auth .login-button {
    position: relative;
    top: 45%;
    transform: translateY(-50%);
}

.auth .profile-menu {
    position: relative;
    top: 35%;
    transform: translateY(-50%);
}


.global-search__form{
    position:absolute;
    top:0;
    left:1rem;
    width:calc(100% - 230px);
    height: 100%;
    left: 90px;
}
.global-search__form md-input-container {
    margin-top: 30px;
    margin-left: 50px;
}
.icon{
    display:inline-block;
    width:1em;
    height:1em;
    fill:currentColor
}
.global-search__form .icon{
    font-size:1.5rem;
    position:absolute;
    top:38%;

    left:0;
    color:#A5B4C4
}
@media (min-width: 768px){
    .global-search__form{
        position:absolute;
        top:0;
        left:1rem;
        width:calc(100% - 260px);
        height: 100%;
        left: 120px;
    }
    .global-search__form .icon{
        left:1rem
    }
}

.global-search__form .md-input-focused + .icon {
    color:#3257ec
}
md-input-container:not(.md-input-invalid).md-input-focused .md-input {
    border-color: #3257ec;
    
}
md-input-container:not(.md-input-invalid).md-input-focused label {
    color: #3257ec;
}
md-input-container .md-input{
    font-family:"MaisonNeue", -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Lucida Grande", sans-serif !important;
}


.global-navbar {
    position: absolute;
    bottom: 0;
}
.global-navbar .md-nav-bar {
    border-width: 0 !important;
}
md-nav-bar md-nav-ink-bar {
    background: #3257ec;
}
.global-navbar .md-nav-bar .md-nav-item .md-button.md-active {
    color: #3257ec;
    font-weight: 700;
}

.global-search__close{
    font-size:2rem;
    font-weight:300;
    position:absolute;
    right:0;
    width:50px;
    height:50px;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:center;
    -webkit-justify-content:center;
    -ms-flex-pack:center;
    justify-content:center;
    -webkit-box-align:center;
    -webkit-align-items:center;
    -ms-flex-align:center;
    align-items:center;
    top:50%;
    -webkit-transform:translateY(-50%);
    -ms-transform:translateY(-50%);
    transform:translateY(-50%);
    cursor:pointer
}
@media (min-width: 768px){
    .global-search__close{
        right:2rem
    }
}
.global-search__close:hover{
    color:#3257ec
}





.wrapper:after{
    content:"";
    display:table;
    clear:both
}
.wrapper{
    max-width:1200px;
    margin-left:auto;
    margin-right:auto;
    padding-left:1rem;
    padding-right:1rem
}
@media (min-width: 768px){
    .wrapper{
        padding-left:4rem;
        padding-right:4rem
    }
}
@media (min-width: 1464px){
    .wrapper{
        max-width:1400px
    }
}
.global-search__header .wrapper{
    height: 120px;
    position:relative
}
@media (min-width: 768px){
    .global-search__header .wrapper{
        height:120px
    }
}

.s-sidebar__trigger {
    z-index: 2;
    position: fixed;
    top: 120px+30px;
    left: 0;
    width: 4em;
    height: 4em;
    background: #192b3c;
    opacity: 0.4;
    display: none;
}

.s-sidebar__trigger > i {
    display: inline-block;
    margin: 1.5em 0 0 1.5em;
    color: #f07ab0;
}

.search-ui-container{
    position:absolute;
    top:130px;
    left:0;
    width:100vw;
    height:calc(100vh - 130px);
    overflow:auto;
    padding-top:2rem
}
@media (min-width: 768px){
    .search-ui-container{
        top:130px;
        height:calc(100vh - 130px)
    }
}
.search-ui-container .wrapper{
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex
}
.search-ui-container .facets{
    display:block;
    width:300px;
    margin-right:50px;
    min-height: 200px;
}
@media (max-width: 1024px){
    .search-ui-container .facets{
        display: none;
    }
    .s-sidebar__trigger {
        display: block;
    }

    .facets:hover,
    .facets:focus,
    .s-sidebar__trigger:hover + .facets,
    .s-sidebar__trigger:focus + .facets {
        position: fixed;
        top: 120px+30px;
        left: 0px;
        z-index: 2;
        background-color: white;
        padding: 20px;
        display: block;
    }
}
.facet-container{
    font-size:1rem;
    margin:0 0 2rem
}
.facet-header{
    margin:0 0 8px;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:justify;
    -webkit-justify-content:space-between;
    -ms-flex-pack:justify;
    justify-content:space-between;
    -webkit-box-align:center;
    -webkit-align-items:center;
    -ms-flex-align:center;
    align-items:center;
    height:30px;
    margin-bottom:10px;
    border-bottom:1px solid #E9EDF2;
    font-size:.75em;
    font-weight:600;
    color:rgba(0,0,0,0.7);
    text-transform:uppercase;
    letter-spacing:0.08em
}
.facet-option{
    margin:0 0 5px;
    font-size:0.85rem;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
    -webkit-flex-direction:row;
    -ms-flex-direction:row;
    flex-direction:row;
    -webkit-box-pack:justify;
    -webkit-justify-content:space-between;
    -ms-flex-pack:justify;
    justify-content:space-between;
    font-weight:400;
    min-height:20px;
}
.facet-option .facet-label{
    color:#536170;
    cursor:pointer;
    text-transform:capitalize
}
.facet-option .facet-label:hover{
    color:#3257ec
}
.facet-option .facet-count{
    color:#A5B4C4
}
.facet-option.selected .facet-label{
    font-weight:600;
    color:#3257ec
}

md-checkbox {
    margin: 0px;
    margin-bottom: 5px !important;
    cursor: pointer;
    padding: 0 3px 0 0;
}
md-checkbox .md-container {
    top: 37% !important;
}
md-checkbox.md-checked.blue .md-icon {
 background-color: #3257ec;
}


.search-ui-container .results-container{
    width:100%
}
.search-ui-container .result{
    
}
@media (min-width: 1024px){
    .search-ui-container .result{
        
    }
}
.search-summary{
    min-height:30px;
    /* display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox; */
    /* display:flex; */
    overflow: hidden;
    -webkit-box-align:center;
    -webkit-align-items:center;
    -ms-flex-align:center;
    align-items:center;
    margin-bottom:10px;
    border-bottom:1px solid #E9EDF2;
    font-size:.875em;
    padding-bottom: 3px;
}
.search-summary>*{
    margin:0 .25em
}
.search-summary strong{
    font-weight:600
}
.search-summary .search-summary-label {
    float:left; 
    padding-top: 2px;
}
.search-summary .filter-label-container {
    position:relative;
    float:left;
}
.search-summary .filter-label{
    text-transform:uppercase;
    font-size:11px;
    border:1px solid #ccc;
    padding:2px 6px 3px;
    border-radius:5px;
    margin-left:3px;
    background-color:#fff;
    float:left;
    margin-bottom: 4px;
}
.search-summary .filter-label span {
    display:ruby;
}
.search-ui-container .result:hover{
    background-color:#fff;
    border-radius:4px;
    box-shadow:0 1px 3px rgba(0,0,0,0.05)
}

.search-ui-container .result .result-title{
    font-size:1.1rem;
    font-weight:500;

    color: #3257ec;
}

.search-ui-container .result .result-url{
    font-size:.775rem;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    color:#A5B4C4;
    display:block;
    width:600px;
    margin-top:2px
}

.search-ui-container .result .result-description{
    font-size:.85rem;
}
.search-ui-container .result .result-description p{
    height:80px;
    overflow:hidden;
    margin-bottom:0px;
    margin-top:0px
}
.search-ui-container .result em{
    font-style:normal;
    position:relative;
    font-weight:600;
    color:#3257ec
}
.search-ui-container .result em:before{
    content:'';
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%, -50%);
    -ms-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
    width:calc(100% + 6px);
    height:calc(100% + 2px);
    background:rgba(88,120,249,0.1);
    pointer-events:none;
    border-radius:3px
}

.search-ui-container .result img{
    
}
.search-ui-container .result i{
    display:inline-block;
    color:#A5B4C4;
    margin-right:4px;
    font-size:.8rem
}

.search-ui-container .result .result-footer{
    margin-top:12px;
    font-size:0.7em;
    font-weight:700;
    color:#A5B4C4
}
.search-ui-container .result .result-footer .result-tag{
    margin-right:5px;
    color:white;
    border-radius:3px;
    padding:0 6px;
    font-size:0.9em;
    text-transform:uppercase;
    letter-spacing:0.08em;
    height:22px;
    display:-webkit-inline-box;
    display:-webkit-inline-flex;
    display:-ms-inline-flexbox;
    display:inline-flex;
    -webkit-box-align:center;
    -webkit-align-items:center;
    -ms-flex-align:center;
    align-items:center
}
.search-ui-container .result .result-footer .result-tag:last-child{
    margin-right:16px
}
.search-ui-container .result .result-footer .result-tag--enterprise-search{
    background-color:#2da0f9
}
.search-ui-container .result .result-footer .result-tag--site-search{
    background-color:#436df0
}
.search-ui-container .result .result-footer .result-tag--generic{
    background-color:#3257ec
}
.search-ui-container .result .result-footer .result-tag--section{
    background-color:#fff;
    color:#536170
}

.search-ui-container .pagination{
    display:none;
    padding-top:20px;
    width:100%;
    text-align:center;
    margin:10px auto 2rem;
    -webkit-box-pack:justify;
    -webkit-justify-content:space-between;
    -ms-flex-pack:justify;
    justify-content:space-between
}
.search-ui-container .pagination span{
    color:#3257ec;
    cursor:pointer;
    text-transform:uppercase;
    letter-spacing:0.08em;
    font-size:14px;
    margin:0 10px;
    font-weight:600
}
.search-ui-container .pagination span.disabled{
    color:#808E9C;
    pointer-events:none
}


.loading {
    position: absolute;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
}