.top-banner {
    width: 100%;
    height: 30px;
    text-align: center;
    color: white;
    background-color: green;
    opacity: 0.5;
}
.top-banner .top-banner-title {
    position: relative;
    top: 7px;
}

.global-search{
    width:100vw;
    height:100vh;
    overflow:hidden;
}

.global-search__header{
    background:#fff;
    box-shadow:0 5px 50px rgba(0,0,0,0.025)
}
.global-search__header .header-wrapper {
    max-width:1300px;
    min-width: 320px;
    margin-left:auto;
    margin-right:auto;
    display: flex;
    height:120px;
    position:relative
}
@media (max-width: 600px){
    .global-search__header .header-wrapper{
        
    }
    
}

.header-right-tool {
    display: inline-block;
    position: absolute;
    right: 10px;
    z-index: 1;
}
.btn_menu_vis {
    position: absolute;
    right: 0px;
    display: block;
    width: 38px;
    height: 38px;
    top: 30px;
    margin-top: -19px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition: all .18s ease-out;
    -moz-transition: all .18s ease-out;
    -o-transition: all .18s ease-out;
    -ms-transition: all .18s ease-out;
    transition: all .18s ease-out
}

.btn_menu_vis:before {
    content: "\f0c9";
    width: inherit;
    height: inherit;
    font-size: 20px;
    font-family: FontAwesome;
    top: -1px;
    left: -1px;
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: -webkit-flex!important;
    display: flex!important;
    -webkit-box-pack: center!important;
    -ms-flex-pack: center!important;
    -webkit-justify-content: center!important;
    justify-content: center!important;
    -webkit-box-align: center!important;
    -ms-flex-align: center!important;
    -webkit-align-items: center!important;
    align-items: center!important;
    color: rgba(0,0,0,0.54);;
    cursor: pointer
}

.btn_menu_vis:hover:before {
    color: #3257ec
}

.header_menu {
    display: block;
    width: auto;
    min-width: 200px;
    background: #143c5a;
    position: absolute;
    top: 50px;
    right: -10px;
    -webkit-transform: translateX(300px);
    -moz-transform: translateX(300px);
    -ms-transform: translateX(300px);
    -o-transform: translateX(300px);
    transform: translateX(300px);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .23s ease-out;
    -moz-transition: all .23s ease-out;
    -o-transition: all .23s ease-out;
    -ms-transition: all .23s ease-out;
    transition: all .23s ease-out
}

.header_menu:after {
    content: '';
    display: block;
    width: 13px;
    height: 13px;
    position: absolute;
    top: -7px;
    right: 23px;
    z-index: 1;
    background: #143c5a;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.header_menu>div a {
    padding: 13px 15px 15px;
    font-size: 13px;
    color: #f1f2f6;
    display: block;
    z-index: 2;
    text-decoration: none;
    border-bottom: 1px solid #214967
}

.header_menu>div a:hover {
    background: #19415f
}

.btn_menu_vis.active+.header_menu {
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
    transform: translate(0);
    opacity: 1;
    visibility: visible
}




.logo-wrapper {
    width: 160px;
    height: 100%;
}

.logo {
    width: 60px;
    height: 100%;
    margin-left: 20px;
}

.logo img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

@media (max-width: 600px){
    .logo-wrapper {
        display: none;
    }
}

.auth-wrapper {
    position: absolute;
    width: 120px;
    height: 100%;
    right: 0;
}
.auth {
    width: 100px;
    height: 100%;
    margin-right: 20px;
}

.auth .login-button {
    position: relative;
    top: 45%;
    transform: translateY(-50%);
}

.auth .profile-menu {
    position: relative;
    top: 35%;
    transform: translateY(-50%);
}

.global_search__form-wrapper {
    width:calc(100% - 280px);
    height: 100%;
}
.global-search__form{
    height: 100%;
    margin-right: 20px;
}
.global-search__form md-input-container {
    margin-top: 30px;
    margin-left: 50px;
}
.global-search__form .icon{
    position: absolute;
    top: 38%;

    font-size:1.5rem;
    color:#A5B4C4;
    display:inline-block;
    width:1em;
    height:1em;
    fill:currentColor
}
@media (max-width: 600px){
    .global_search__form-wrapper {
        width:calc(100%);
        margin-left: 20px;
    }
}

.global-search__form .md-input-focused + .icon {
    color:#3257ec
}
md-input-container:not(.md-input-invalid).md-input-focused .md-input {
    border-color: #3257ec;
    
}
md-input-container:not(.md-input-invalid).md-input-focused label {
    color: #3257ec;
}
md-input-container .md-input{
    font-family:"MaisonNeue", -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Lucida Grande", sans-serif !important;
}


.global-navbar {
    position: absolute;
    bottom: 0;
}
.global-navbar .md-nav-bar {
    border-width: 0 !important;
}
md-nav-bar md-nav-ink-bar {
    background: #3257ec;
}
.global-navbar .md-nav-bar .md-nav-item .md-button.md-active {
    color: #3257ec;
    font-weight: 700;
}







.search-ui-container{
    left:0;
    width:100vw;
    height:calc(100vh - 170px);
    overflow-x:hidden;
    overflow-y: auto;
    margin-top: 20px;

    max-width:1200px;
    margin-left:auto;
    margin-right:auto;
    padding-left:4rem;
    padding-right:4rem;

    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex
}
.search-ui-container:after{
    content:"";
    display:table;
    clear:both
}
@media (max-width: 600px){
    .search-ui-container{
        padding-left:1rem;
        padding-right:1rem
    }
}
@media (min-width: 1280px){
    .search-ui-container{
        max-width:1400px
    }
}



.s-sidebar__trigger {
    visibility: hidden;
}

.search-ui-container .facets{
    display:block;
    width:300px;
    min-height: 200px;
    margin-right: 50px;    
}

@media (max-width: 960px){
    .search-ui-container .facets {
        position: absolute;
        z-index: 2;
        background-color: white;
        padding: 20px;
        display: block;
        margin: 0;
        left: 0;

        -webkit-transform: translateX(-300px);
        -moz-transform: translateX(-300px);
        -ms-transform: translateX(-300px);
        -o-transform: translateX(-300px);
        transform: translateX(-300px);
        opacity: 0;
        visibility: hidden;
        -webkit-transition: all .23s ease-out;
        -moz-transition: all .23s ease-out;
        -o-transition: all .23s ease-out;
        -ms-transition: all .23s ease-out;
        transition: all .23s ease-out
    }

    .s-sidebar__trigger.active + .facets {
        -webkit-transform: translate(0);
        -moz-transform: translate(0);
        -ms-transform: translate(0);
        -o-transform: translate(0);
        transform: translate(0);
        opacity: 1;
        visibility: visible
    }

    .s-sidebar__trigger {
        z-index: 2;
        position: absolute;
        left: 0;
        width: 50px;
        height: 50px;
        opacity: 1;
        border: 2px solid rgba(0, 0, 0, .5);
        border-left: none;
        visibility: visible
    }

    .s-sidebar__trigger.scrolling {
        visibility: hidden;
    }
    
}
.facet-container{
    font-size:1rem;
    margin:0 0 2rem
}
.facet-header{
    margin:0 0 8px;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:justify;
    -webkit-justify-content:space-between;
    -ms-flex-pack:justify;
    justify-content:space-between;
    -webkit-box-align:center;
    -webkit-align-items:center;
    -ms-flex-align:center;
    align-items:center;
    height:30px;
    margin-bottom:10px;
    border-bottom:1px solid #E9EDF2;
    font-size:.75em;
    font-weight:600;
    color:rgba(0,0,0,0.7);
    text-transform:uppercase;
    letter-spacing:0.08em
}
.facet-option{
    margin:0 0 5px;
    font-size:0.85rem;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
    -webkit-flex-direction:row;
    -ms-flex-direction:row;
    flex-direction:row;
    -webkit-box-pack:justify;
    -webkit-justify-content:space-between;
    -ms-flex-pack:justify;
    justify-content:space-between;
    font-weight:400;
    min-height:20px;
}
.facet-option .facet-label{
    color:#536170;
    cursor:pointer;
    text-transform:capitalize
}
.facet-option .facet-label:hover{
    color:#3257ec
}
.facet-option .facet-count{
    color:#A5B4C4
}
.facet-option.selected .facet-label{
    font-weight:600;
    color:#3257ec
}

md-checkbox {
    margin: 0px;
    margin-bottom: 5px !important;
    cursor: pointer;
    padding: 0 3px 0 0;
}
md-checkbox .md-container {
    top: 37% !important;
}
md-checkbox.md-checked.blue .md-icon {
 background-color: #3257ec;
}


.search-ui-container .results-container{
    width:100%
}

.search-summary{
    min-height:30px;
    overflow: hidden;
    -webkit-box-align:center;
    -webkit-align-items:center;
    -ms-flex-align:center;
    align-items:center;
    margin-bottom:10px;
    border-bottom:1px solid #E9EDF2;
    font-size:.875em;
    padding-bottom: 3px;   
    
}
.search-summary>*{
    margin:0 .25em
}
.search-summary strong{
    font-weight:600
}
.search-summary .search-summary-label {
    float:left; 
    padding-top: 2px;
    padding-bottom: 10px;
}
.search-summary .filter-label-container {
    position:relative;
    float:left;
}
.search-summary .filter-label{
    text-transform:uppercase;
    font-size:11px;
    border:1px solid #ccc;
    padding:2px 6px 3px;
    border-radius:5px;
    margin-left:3px;
    background-color:#fff;
    float:left;
    margin-bottom: 4px;
}
.search-summary .filter-label span {
    display:ruby;
}

@media (max-width: 960px){
    .search-summary{
        margin-top: 20px;
        margin-left: 45px;
        position: relative;
    }
    
}

.search-ui-container .result {
    width: 100%;
}
.search-ui-container .result:hover{
    background-color:#fff;
    border-radius:4px;
    box-shadow:0 1px 3px rgba(0,0,0,0.05);
}
.search-ui-container .result:hover img, .search-ui-container .result:hover .result-title, .search-ui-container .result:hover .result-description {
    opacity: 0.6;
}
.search-ui-container .result:hover .save-button-container {
    opacity: 1;
}
.search-ui-container .result .save-button-container {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    bottom: 30px;
    right: 10px;
    text-align: center;
}

.search-ui-container .result .save-button-container .save-button {
    display:block;
    width:50px;
    height:50px;
    line-height:50px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    color:#f5f5f5;
    text-align:center;
    text-decoration:none;
    background: #464646;
    box-shadow: 0 0 3px gray;
    font-size:20px;
    font-weight:bold;
    cursor: pointer;
}
.search-ui-container .result .save-button-container .save-button:hover {
    background: #262626;
}

.search-ui-container .result .result-title{
    font-size:1.1rem;
    font-weight:500;
    color: #3257ec;
}

.search-ui-container .result .result-url{
    font-size:.775rem;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    color:#A5B4C4;
    display:block;
    width:600px;
    margin-top:2px
}

.search-ui-container .result .result-description{
    font-size:.85rem;
    overflow:hidden;
    margin-bottom:20px;
}
.search-ui-container .result .result-description p{    
    margin-bottom:0px;
    margin-top:0px
}
.search-ui-container .result em{
    font-style:normal;
    position:relative;
    font-weight:600;
    color:#3257ec
}
.search-ui-container .result em:before{
    content:'';
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%, -50%);
    -ms-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
    width:calc(100% + 6px);
    height:calc(100% + 2px);
    background:rgba(88,120,249,0.1);
    pointer-events:none;
    border-radius:3px
}

.search-ui-container .result img{
    
}
.search-ui-container .result i{
    display:inline-block;
    color:#A5B4C4;
    margin-right:4px;
    font-size:.8rem
}

.search-ui-container .result .result-footer{
    margin-top:12px;
    font-size:0.7em;
    font-weight:700;
    color:#A5B4C4
}
.search-ui-container .result .result-footer .result-tag{
    margin-right:5px;
    color:white;
    border-radius:3px;
    padding:0 6px;
    font-size:0.9em;
    text-transform:uppercase;
    letter-spacing:0.08em;
    height:22px;
    display:-webkit-inline-box;
    display:-webkit-inline-flex;
    display:-ms-inline-flexbox;
    display:inline-flex;
    -webkit-box-align:center;
    -webkit-align-items:center;
    -ms-flex-align:center;
    align-items:center
}
.search-ui-container .result .result-footer .result-tag:last-child{
    margin-right:16px
}
.search-ui-container .result .result-footer .result-tag--enterprise-search{
    background-color:#2da0f9
}
.search-ui-container .result .result-footer .result-tag--site-search{
    background-color:#436df0
}
.search-ui-container .result .result-footer .result-tag--generic{
    background-color:#3257ec
}
.search-ui-container .result .result-footer .result-tag--section{
    background-color:#fff;
    color:#536170
}



.search-ui-container .pagination{
    display:none;
    padding-top:20px;
    width:100%;
    text-align:center;
    margin:10px auto 2rem;
    -webkit-box-pack:justify;
    -webkit-justify-content:space-between;
    -ms-flex-pack:justify;
    justify-content:space-between
}
.search-ui-container .pagination span{
    color:#3257ec;
    cursor:pointer;
    text-transform:uppercase;
    letter-spacing:0.08em;
    font-size:14px;
    margin:0 10px;
    font-weight:600
}
.search-ui-container .pagination span.disabled{
    color:#808E9C;
    pointer-events:none
}


.loading {
    position: absolute;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
}